<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="title">What is</h2>

        <div style="margin: 5em"></div>

        <div class="col-sm-4">
            <span class="border-rounded"><i class="fa fa-code" aria-hidden="true" style="color: #efa8b0;"></i></span>
        </div>
        <div class="col-sm-6" style="margin-top: 3em">
            <p class="what-is-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed odio neque, congue varius scelerisque consequat, ornare in
            nibh. Ut pulvinar dignissim massa, a posuere massa sollicitudin at.
            </p>
        </div>

        <div class="clear"></div>


        <div style="margin: 5em"></div>

        <div class="col-sm-6 col-sm-offset-2" style="margin-top: 3em">
            <p class="what-is-desc" style="text-align: right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed odio neque, congue varius scelerisque consequat, ornare in
                nibh. Ut pulvinar dignissim massa, a posuere massa sollicitudin at.
                </p>
        </div>

        <div class="col-sm-4" style="text-align: right">
            <span class="border-rounded"><i class="fa fa-copy" aria-hidden="true" style="color: #a89cc8;"></i></span>
        </div>

        <div class="clear"></div>

        <div style="margin: 5em"></div>

        <div class="col-sm-4">
            <span class="border-rounded"><i class="fa fa-diamond" aria-hidden="true" style="color: #8cc9f0;"></i></span>
        </div>
        <div class="col-sm-6" style="margin-top: 3em">
            <p class="what-is-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed odio neque, congue varius scelerisque consequat, ornare in
                nibh. Ut pulvinar dignissim massa, a posuere massa sollicitudin at.
            </p>
        </div>
        
    </div>
</div>