<div class="row" id="header">
    <div class="col-sm-4">
        <div id="logo-header">
            <a ui-sref="pages.home"><img src="images/logo-header.png"/></a>
        </div>
    </div>

    <div class="col-sm-8">
        <ul>
            <li><a ui-sref="pages.home">Home</a></li>
            <li><a ui-sref="pages.what-is">What-Is</a></li>
            <li><a ui-sref="pages.contact">Contact</a></li>
            <li ng-if="!app.isLogged()"><a ui-sref="pages.sign-in"><button class="btn main-btn">Sign in</button></a></li>
            <li ng-if="app.isLogged()"><a ui-sref="panel.board"><button class="btn main-btn">Go to app</button></a></li>
        </ul>
    </div>
</div>