<div class="row" id="board" ng-controller="AddController as addCtrl">

    <h2 class="title">Create new awesome idea</h2>

    <div class="success" ng-show="addCtrl.isVisibleSucces">{{addCtrl.message}}</div>

    <div class="col-sm-5 col-sm-offset-1" id="add-form">

        <form class="contact-form" name="addForm">
            <div>
                <input ng-model="addCtrl.title" type="text" name="name" placeholder="awesome title" required>
                <select class="form-control" ng-model="addCtrl.category" ng-options="c for c in addCtrl.categories"
                        required>
                    <option></option>
                </select>
                <textarea ng-model="addCtrl.shortdesc" name="desc" placeholder="short description..."
                          required></textarea>
                <textarea ng-model="addCtrl.longdesc" name="longdesc" placeholder="...and long description"
                          required></textarea>
                <div style="text-align: right">
                    <button class="btn main-btn" ng-click="addCtrl.create()" ng-disabled="addForm.$invalid">
                        Create
                    </button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-sm-5">
        <div style="text-align: center;">
            <img class="img-class" src="images/add.png" style="padding: 4em;"/>
        </div>
    </div>

</div>