<div class="row" ng-controller="DetailsController as detailsCtrl">

    <div class="col-sm-8 col-sm-offset-2" id="details">
        <img class="project-img left" src="images/{{detailsCtrl.project.name}}.jpg"/>
        <h1> {{detailsCtrl.project.name}}</h1>
        <div class="clear"></div>

        <p>
            {{detailsCtrl.project.shortdesc}}
        </p>

        <div id="comments">
            <div class="comment" ng-repeat="c in detailsCtrl.project.comments">

                <span class="date">{{c.date}} | </span> <span class="user">{{c.user}}</span>
                <div class="content">{{c.content}}</div>
            </div>

        </div>

        <div class="comment">
            <form>
                <textarea class="add-comment" name="desc" placeholder="write comment" required></textarea>
                <div style="text-align: right">
                    <button class="btn main-btn">
                        Create
                    </button>
                </div>
            </form>
        </div>

    </div>

</div>