<div class="row">

    <div class="col-sm-8 col-sm-offset-2">
        <div id="settings-box">
            <h2 class="title">Settings</h2>

            <div class="avatar-settings">
                <img src="images/{{profileCtrl.username}}.png"/>
            </div>
            <h3><span class="bold">username:</span> {{profileCtrl.username}}</h3>

            <table class="table-settings">
                <tr>
                    <td class="left-align bold">email:</td>
                    <td class="right-align">email@email.com</td>
                </tr>
                <tr>
                    <td class="left-align bold">language:</td>
                    <td class="right-align">English</td>
                </tr>
                <tr>
                    <td class="left-align bold">timezone:</td>
                    <td class="right-align">Warsaw</td>
                </tr>
                <tr>
                    <td colspan="2" class="right-align">
                        <button class="btn main-btn" disabled>Edit profile</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>